@media (max-width: 1600px) {
  .about-us__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-us__column:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .about-us__advantage:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 30px;
  }
  .advantage {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid #CACACA;
  }
  .advantage_gears {
    padding: 50px;
  }
  .advantage__content-description_gears {
    padding-top: 22px;
  }
  .advantage__content-description_box, .advantage__content-description_gears {
    padding-top: 0px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .carousel__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel__item-description, .carousel__item-img {
    -ms-flex-preferred-size: calc(100%/2 - 25px);
        flex-basis: calc(100%/2 - 25px);
    margin: 0;
  }
  .footer__column {
    min-height: 503px;
    /* flex-basis: calc(100%/3 - 20px); */
  }
  .footer__column_left {
    min-width: 0;
  }
  .footer__column_center {
    min-width: 0;
    margin: 0 30px;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
  .request-form {
    min-width: 0;
  }
  /* .footer__column_center {
    flex-basis: 40%;
  }
   */
  /* .carousel__item-img  {
    flex-basis: (100%/2 - 15px) !important;
    justify-content: space-between;
    margin: 0;
  }
   */
}

@media (max-width: 1310px) {
  .header__nav-menu {
    margin: 0 50px;
  }
  .nav-menu__item:not(:last-of-type) {
    margin-right: 40px;
  }
  .price-request__heading {
    font-size: 60px;
    line-height: 74px;
  }
  .price-request__text {
    font-size: 20px;
    line-height: 24px;
  }
  .section {
    margin-bottom: 58px;
  }
  .main-advantage {
    width: 100%;
  }
  .more-info-panel {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .more-info-panel__text {
    margin-right: 50px;
    max-width: 497px;
  }
  .about-us__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-us__advantage {
    /* min-height: 295px; */
  }
  .about-us__column:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .advantage {
    padding: 70px 123px 70px 112px;
    border: 1px solid #CACACA;
  }
  .advantage__content-description_box, .advantage__content-description_gears {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* align-items: center; */
    min-height: 158px;
  }
  .about-us__advantage:not(:last-of-type) {
    margin-bottom: 40px;
    margin-right: 0px;
  }
  .accordion__item-question {
    font-size: 20px;
  }
  .footer__column_right {
    display: none;
  }
  .footer__column_center {
    /* min-width: 0; */
    margin: 0px;
    -ms-flex-preferred-size: 58%;
        flex-basis: 58%;
  }
  .request-form__btn {
    padding: 20px 38px;
    margin-right: 1px;
  }
  footer {
    padding: 48px 0px 78px 0px;
  }
  .footer__logo {
    margin-bottom: 4px;
  }
}

@media (max-width: 1044px) {
  .fixed-container {
    max-width: 1870px;
    padding: 0 50px 0 50px;
  }
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 26px 0 14px 0;
  }
  .header__nav-menu {
    top: 0px;
    left: -30%;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    /* padding-top: 100px; */
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 5;
    height: 100vh;
    background: white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-menu__item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .header__nav-menu_active {
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
  }
  .nav-menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__logo {
    /* width: 150px; */
    /* margin-left: -6px; */
  }
  /* .logo {
    width: 100%;
  } */
  .burger-menu__button {
    display: block;
    line-height: 0;
    position: relative;
    margin-right: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .burger-menu__button {
    /* position: absolute;
    top: -15px; */
    z-index: 100;
    width: 30px;
    height: 30px;
    line-height: 0;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  svg>rect {
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
  }
  .burger-menu__button::after {
    content: '';
    position: absolute;
    margin: auto;
    top: -25%;
    left: -25%;
    width: 150%;
    height: 150%;
    cursor: pointer;
  }
  .burger-menu__stick_1 {
    width: 25px;
  }
  .burger-menu__stick_2 {
    width: 20px;
  }
  /* .header__burger-menu:active .burger-menu__button  >  svg  >  rect {
    fill: var(--main_color_deep);
  } */
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__search {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-right: 0px;
    margin-top: -8px;
    margin-right: -2px;
  }
  .price-request {
    padding: 160px 45px 114px;
  }
  .price-request__item {
    max-width: 710px;
  }
  .price-request__heading {
    margin-bottom: 10px;
  }
  .price-request__text {
    letter-spacing: 0px;
    margin-bottom: 108px;
  }
  .btn_xl {
    padding: 24px 40px;
  }
  .heading {
    margin-left: -5px;
  }
  .about-us__heading {
    margin-bottom: 25px;
  }
  .about-us__description {
    margin-bottom: 59px;
    ;
  }
  .main-advantage {
    min-height: 640px;
  }
  .more-info-panel {
    padding: 37px 50px 40px 44px;
  }
  .more-info-panel__btn {
    margin-top: 3px;
    padding: 20px 35px 15px;
  }
  .advantage {
    padding: 55px 100px 66px 112px;
  }
  .advantage_gears {
    padding: 44px 123px 66px 112px;
  }
  .advantage__content-description_box {
    padding-top: 15px;
  }
  .advantage__content-description_gears {
    padding-top: 24px;
  }
  .carousel__item-description__btn-panel {
    margin-top: 31px;
  }
  .carousel__item-img {
    min-height: 689px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .ui-accordion .ui-accordion-header {
    /* padding: 40px 0px 36px; */
    padding-left: 0px;
    font-size: 20px;
    padding-right: 150px;
  }
  .ui-accordion .ui-accordion-header:nth-of-type(2) {
    padding-top: 30px;
    padding-bottom: 29px;
  }
  .ui-accordion .ui-accordion-header:nth-of-type(4) {
    padding-top: 30px;
    padding-bottom: 29px;
  }
  .accordion__item {
    padding: 30px 4px;
  }
  .accordion__item-question::after {
    margin-right: -4px;
  }
  .section_how-we-work {
    margin-bottom: 54px;
  }
  .section_common-questions {
    margin-bottom: 52px;
  }
}

@media (max-width: 1000px) {
  .carousel__controls {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel__controls-step:not(:last-of-type) {
    margin-right: 0;
  }
  .carousel__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .carousel__item-description {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .carousel__item-img {
    min-height: 284px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 38px;
  }
}

@media (max-width: 850px) {
  .swiper-container {
    width: 100%;
  }
  .ui-accordion .ui-accordion-header {
    /* padding: 40px 0px 36px; */
    padding-left: 0px;
    font-size: 20px;
    padding-right: 95px;
    padding-left: 2px;
  }
  .ui-accordion .ui-accordion-header:nth-of-type(3) {
    padding-top: 30px;
    padding-bottom: 29px;
  }
  .ui-accordion .ui-accordion-header:nth-of-type(5) {
    padding-top: 30px;
    padding-bottom: 29px;
  }
  .fixed-container {
    max-width: 1870px;
    padding: 0 50px 0 50px;
  }
  .header {
    padding: 8px 0 1px 0;
  }
  .section_price-request .section_price-request__fixed-container {
    padding: 0;
  }
  .price-request {
    padding: 191px 0px 114px 49px;
  }
  .text-attention-mark {
    margin-left: 1px;
    padding-left: 24px;
  }
  .main-advantage {
    min-height: 650px;
  }
  .more-info-panel {
    padding: 23px 30px 26px 29px;
    background: rgba(0, 0, 0, 0.5);
    line-height: 31px;
  }
  .advantage {
    padding: 39px 38px 35px 30px;
  }
  .advantage_gears {
    padding: 42px 38px 34px 30px;
  }
  .advantage__content-description {
    padding-left: 146px;
    background-size: 116px;
  }
  .advantage__content-description_box {
    padding-top: 0px;
  }
  .advantage__content-description_gears {
    padding-top: 0px;
    background-size: 118px;
  }
  .about-us__column:not(:last-of-type) {
    margin-bottom: 40px;
  }
  .how-we-work__heading {
    margin-left: -5px;
  }
  .section_how-we-work {
    margin-bottom: 61px;
  }
  .section_common-questions {
    margin-bottom: 59px;
  }
  .common-questions__heading {
    margin-right: -30px;
    margin-left: -2px;
  }
  .accordion__item-question::after {
    padding-left: 4px;
    margin-right: -4px;
    margin-left: 30px;
  }
  footer {
    padding: 48px 0px 60px 0px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__nav-menu {
    display: none;
  }
  .footer__column_center {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 58px;
    width: 80%;
  }
  .footer__column_left {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-height: 0;
  }
  .request-form__btn-panel {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .request-form__btn {
    padding: 20px 37px;
    margin-right: 1px;
  }
  .request-form__input_agr-accept__label {
    font-size: 16px;
    margin: 20px 0px;
  }
}

@media (max-width: 650px) {
  /* Active plugins */
  /* --swiper-- */
  .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0px 5px !important;
  }
  /* ============================ */
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav-menu {
    left: -40%;
    width: 40%;
  }
  body {
    font-size: 14px;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .fixed-container {
    padding: 0 15px;
  }
  .price-request__heading {
    font-size: 40px;
    line-height: 50px;
  }
  .about-us__description {
    margin-bottom: 20px;
    ;
  }
  .main-advantage {
    margin-bottom: 20px;
  }
  .main-advantage__moreinfo-panel {
    display: none;
  }
  .about-us__column:first-child::before {
    content: 'Принимая во внимание показатели успешности, перспективное планирование способствует подготовке и реализации новых принципов.';
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 20px;
  }
  .btn_desktop-hidden {
    display: inline-block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    color: var(--main_color);
    padding: 12px 42px;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .advantage__content-description_box {
    background: url('../img/section_about_us__box.svg') no-repeat center top;
    padding-left: 0;
    padding-top: 130px;
    background-size: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .advantage__content-description_gears {
    background: url('../img/section_about_us__gears.svg') no-repeat center top;
    padding-left: 0;
    padding-top: 130px;
    background-size: 130px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .how-we-work__heading {
    margin-bottom: 30px;
  }
  .common-questions__heading {
    margin-right: 0px;
  }
  .ui-accordion .ui-accordion-header::after {
    font-size: 30px;
  }
  .request-form__heading {
    font-size: 30px;
  }
  .footer__column_center {
    width: 100%;
  }
}

@media (max-width: 460px) {
  /* Active plugins */
  /* --swiper-- */
  .swiper-container {
    width: calc(100% - 30px);
  }
  /* --JQueri UI Accordion-- */
  .ui-accordion .ui-accordion-header {
    padding: 30px 0px 27px;
    padding-right: 50px;
    margin-left: -3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.1px;
  }
  .ui-accordion .ui-accordion-header::after {
    width: 30px;
    height: 30px;
    top: calc(100%/2 - 15px);
    background-size: 30px;
    margin-left: 0;
    padding-left: 0;
    margin-right: 0px;
  }
  /* ============================== */
  .header {
    position: relative;
    overflow: hidden;
  }
  .visible {
    overflow: visible;
  }
  .header__nav-menu {
    left: inherit;
    right: -65%;
    width: 65%;
  }
  .header__nav-menu_active {
    -webkit-transform: translateX(-90%);
        -ms-transform: translateX(-90%);
            transform: translateX(-90%);
  }
  .nav-menu__item {
    margin-bottom: 20px !important;
  }
  .header {
    width: 100%;
  }
  .burger-menu__button {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: auto;
    margin-right: 0px;
  }
  body {
    font-size: 14px;
    line-height: 28px;
  }
  .fixed-container {
    padding: 0 15px !important;
  }
  .header {
    padding: 7px 0 6px 0;
  }
  .search {
    display: none;
  }
  .header__logo {
    line-height: 0;
    width: 97px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 0;
  }
  .logo__link {
    width: 180px;
  }
  .logo__img {
    width: 100%;
  }
  .header__burger-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    margin-top: 10px;
    margin-right: -2px;
  }
  .burger-menu__button {
    background-size: 25px;
  }
  .section {
    margin-bottom: 39px;
  }
  .heading {
    margin-left: -2px;
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 30px;
  }
  .price-request__heading {
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 4px;
  }
  .price-request {
    padding: 32px 22px 40px 22px;
    text-align: center;
  }
  .price-request__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 34px;
  }
  .btn_xl {
    font-size: 12px;
    padding: 13px 26px;
    line-height: 14px;
    margin-left: 0px;
  }
  .about-us__description {
    margin-bottom: 10px;
  }
  .main-advantage {
    min-height: 200px;
    border: none;
    margin-bottom: 8px;
  }
  .about-us__column:first-child::before {
    margin-bottom: 8px;
  }
  .btn_theme_transparent-orange {
    background: transparent;
    border: 2px solid var(--main_color);
    padding: 10px 42px;
    font-size: 12px;
    line-height: 15px;
  }
  .section_about-us {
    margin-bottom: 48px;
  }
  .advantage {
    padding: 0;
    text-align: left;
    border: none;
  }
  .advantage__content-heading {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
  .advantage__content-description {
    text-align: left;
    background-position-x: left;
    background-size: 65px;
    padding-top: 67px;
  }
  .about-us__advantage:not(:last-of-type) {
    margin-bottom: 22px;
  }
  .advantage__content-description_gears {
    padding-top: 74px;
  }
  .how-we-work__heading {
    margin-left: 0px;
    margin-bottom: 33px;
  }
  .carousel__controls {
    margin-left: -3px;
    margin-bottom: 16px;
  }
  .carousel__controls-step {
    line-height: 18px;
    font-weight: 400;
  }
  .carousel__controls-step__button {
    font-size: 14px;
  }
  .carousel__item-img {
    min-height: 160px;
    margin-bottom: 7px;
  }
  .carousel__item-description {
    margin-left: -2px;
  }
  .carousel__item-description__heading {
    font-size: 18px;
    line-height: 31px;
    font-weight: 500;
    margin-bottom: 0px;
    letter-spacing: 0;
  }
  .carousel__item-description__text {
    line-height: 28px;
  }
  .btn-panel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 21px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .btn-panel__btn {
    font-size: 12px;
    line-height: 14px;
    padding: 12px 44px;
  }
  .btn-panel__btn:not(:last-of-type) {
    margin-right: 0px;
  }
  .btn-panel__btn:not(:nth-of-type(-n+2)) {
    margin-top: 10px;
  }
  .btn_theme_transparent-black {
    padding: 12px 31px;
  }
  .common-questions__heading {
    margin-bottom: 12px;
  }
  footer {
    padding: 28px 0px 22px 0px;
  }
  .request-form {
    margin-left: -1px;
    border-bottom: 1px solid #595959;
    padding-bottom: 12px;
  }
  .request-form__heading {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-left: -1px;
  }
  .request-form__input {
    padding: 14px 20px 14px;
  }
  .request-form__input_message {
    margin-bottom: 25px;
  }
  .request-form__btn {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 13px 28px;
    margin-right: 0px;
    margin-left: 13px;
  }
  .footer__column_left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .footer__column_center {
    margin-bottom: 23px;
    width: 100%;
  }
  .logo_footer {
    width: 131px;
  }
  .social-media__item:not(:last-of-type) {
    margin-right: 9px;
  }
  .social-media__link {
    display: block;
    width: 40px;
    height: 40px;
    background-size: 35px;
  }
  ::-webkit-input-placeholder {
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    line-height: 32px;
    color: #CACACA;
    font-weight: normal;
  }
  ::-moz-placeholder {
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    line-height: 32px;
    color: #CACACA;
    font-weight: normal;
  }
  :-moz-placeholder {
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    line-height: 32px;
    color: #CACACA;
    font-weight: normal;
  }
  :-ms-input-placeholder {
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    line-height: 32px;
    color: #CACACA;
    font-weight: normal;
  }
}